@-moz-document url-prefix("https://freesound.org/tickets/moderation/assigned/") {
/* WARNING */

#moderate-form-wrapper form:has(input[type="radio"][value="Delete"]:checked) {
    background-color: lightcoral;
}
#moderate-form-wrapper form:has(input[type="radio"][value="Approve"]:checked) {
    background-color: lightgreen;
}
#moderate-form-wrapper form:has(input[type="radio"][value="Defer"]:checked) {
    background-color: Khaki;
}
#moderate-form-wrapper form:has(input[type="radio"][value="Return"]:checked) {
    background-color: lightgrey;
}
#moderate-form-wrapper form:has(input[type="radio"][value="Whitelist"]:checked) {
    background-color: hotpink;
}

/* WARNING OF BUTTON */

/* Default neutral styling for the submit button */
#moderate-form-wrapper form button.btn-primary.w-100 {
    background: white !important;
    color: black !important;
    border: 1px solid black !important;
    transition: background 0s, color 0s;
}

/* Hover color depends on chosen radio */
#moderate-form-wrapper form:has(input[type="radio"][value="Approve"]:checked) 
    button.btn-primary.w-100:hover {
        background: lightgreen !important;
}

#moderate-form-wrapper form:has(input[type="radio"][value="Delete"]:checked) 
    button.btn-primary.w-100:hover {
        background: lightcoral !important;
}

#moderate-form-wrapper form:has(input[type="radio"][value="Defer"]:checked) 
    button.btn-primary.w-100:hover {
        background: Khaki !important;
}

#moderate-form-wrapper form:has(input[type="radio"][value="Return"]:checked) 
    button.btn-primary.w-100:hover {
        background: lightgrey !important;
}

#moderate-form-wrapper form:has(input[type="radio"][value="Whitelist"]:checked) 
    button.btn-primary.w-100:hover {
        background: hotpink !important;
}


/* WARNING OF BUTTON END */

/* minify */
html {background-color: white;}

nav.bw-nav,
h1,
.divider-light,
footer
{
    display: none;
}

.navbar-space-filler,
.v-spacing-3
{
    padding: 0;
    margin: 0;
}

body > div.bw-page > div
{
    padding-top: 19px;
}

body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7{
    padding: 0;
}

body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-1 > div
{
    width: 50%;
    padding: 4px;
    margin: 0;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    background-color: white !important;
    position: fixed;
    top:0;
    z-index: 1;
}

.navbar-messages
{
    margin: 0;
    padding: 4px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    background-color: white !important;
    float: right;
    position: fixed;
    right:0;
    top:0;
    z-index: 2;
}

/* pagination */
.bw-pagination_container
{
    font-size: small;
    border-style: solid;
    border-color: grey;
    border-width: 0 0 1px 0;
}
.bw-pagination_container li
{
    height: 20px !important;
    line-height: 20px;
}

/* compact options */
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-4 > div.text-grey
{
    display: none;
}
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-4 > div:not(.text-grey)
{
    font-size: x-small;
    display: inline-block;
}
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-4
{
    border-style: solid;
    border-color: grey;
    border-width: 0 0 1px 0;
}

/* space at the top */
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div 
{
    margin-top: 14px;
}

/* make list big */
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-3 {
    overflow-y: auto !important;
    max-height: none !important;
}

/* normal scroll */

body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div {
    display: inherit;
}


/* max width */
div.container
{
    width: 100% !important;
    max-width: 100% !important;
}

/* split */

/* left side */
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7
{
    float: left;
    flex: 0 0 66%;
    width: 66%;
    max-width: 66%;
}

/* right side (moderation) */
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-5
{
    float: right;
    flex: 0 0 34%;
    width: 34%;
    max-width: 34%;
}

/* left side split */
/* left left (list) */
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div:not(#ticket-comments-section),
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > ul
{
    margin: 0;
    padding: 0;
    float: left;
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
}
/* left right (comments) */
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div#ticket-comments-section
{
    margin: 0;
    padding: 0 4px;
    float: right;
    flex: 0 0 40%;
    width: 50%;
    max-width: 50%;
}

/* strange margin/padding fix */
.bw-sticky-top
{
    top: auto;
}

/* color nav */

a#select-other {
    background-color: lightgreen;
    color: black;
    padding: 3px;
}

/* I'm a 90's kid */
* {
    border-radius: 0 !important;
}

/* highlight description */

.collapsable-block > div.v-spacing-top-1 {
    border-left: 4px solid turquoise;
    padding-left: 8px;
}

/* deferred row color switch */
.tickets-table tr.deferred:nth-child(2n) td
{
    background-color: #cacace !important;
}
.tickets-table tr.deferred:nth-child(2n+1) td
{
    background-color: #dfdfe8 !important;
}
.tickets-table tr.deferred.selected td
{
    background-color: #ffdd44 !important;
}
/* default row name color */
.tickets-table tr > td:nth-child(2),
.tickets-table tr > td:nth-child(2) > a
{
    color: black;
}
/* mark deferred */
.tickets-table tr.deferred > td:nth-child(4)
{
    color: #333 !Important;
    background-color: #888 !important;
}
.tickets-table tr[data-ticket-status="accepted"] > td:nth-child(4)
{
    color: #333 !Important;
    background-color: #fff !important;
}
/* UCS often puts recorder at end of title :/ */
h5.ellipsis {
    white-space: normal;
}
/* toast blocks too much */
div.toast {
    max-width: 400px;
}
/*choices take too much space*/
#id_action > div {
    display: inline-block !important;
    margin-right: 8px;
}
#id_action span.bw-radio-container {
    margin-right: -3px !important;
}
#id_action > div:nth-child(5) {
    display: none !important;
}
/*saving space*/
#moderate-form-wrapper > div:nth-child(2) > form > div.v-spacing-top-2.v-spacing-4,
div#template-responses,
#moderate-form-wrapper > div:nth-child(2) > form > div.bw-inline-radio > p:nth-child(4),
#selected-sounds-info
{
    margin: 0;
}

#moderate-form-wrapper > div:nth-child(2) > form > div.bw-inline-radio > p:nth-child(1),
#moderate-form-wrapper > div:nth-child(2) > form > div.bw-inline-radio > p:nth-child(3)
{
    display: none;
}

#id_message {
    margin: 0 !important;
    padding: 2px 4px;
}
a.tag-container {
    border-width: 0;
    line-height: 1em;
    padding: 0 !important;
    margin: 0 !important;
}
div[id^="collapsable-sound-info-"] {
    padding: 0 !important;
    margin: 0 !important
}
/*still saving space*/
#template-responses > span:nth-child(1) {
    display:none;
}
label[for="id_moderator_only"] {
    background-color: white;
    padding: 2px 6px 6px;
}
label[for="id_moderator_only"]:has(input:checked) {
    background-color: purple;
    color: white !important;
    padding: 2px 6px 6px;
}
/* table#assigned-tickets-table declutter */
table#assigned-tickets-table {
    width: 100%;
}
table#assigned-tickets-table td {
    padding: 0 1px 1px 2px;
}
table#assigned-tickets-table td:nth-child(3) {
    min-width:24px;
    width: 5%;
}
table#assigned-tickets-table td:nth-child(4),
table#assigned-tickets-table td:nth-child(5) {
    text-align: center;
    min-width:12px;
    width: 2.5%;
}
/*compact selection/player options*/
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-4 > div:nth-child(1) > label > span,
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-4 > div:nth-child(2) > label > span,
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-4 > div:nth-child(3) > label > span {
    margin-right: 0;
}
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-4 > div:nth-child(1) > label > span > span,
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-4 > div:nth-child(2) > label > span > span,
body > div.bw-page > div > div > div.col-12.no-paddings.v-spacing-5 > div:nth-child(4) > div > div.col-lg-7 > div > div.v-spacing-4 > div:nth-child(3) > label > span > span{
    height: 12px;
    width: 12px;
    border-width: 1px;
    margin-bottom: -2px;
    margin-right: 4px;
    margin-left: 14px !important;
}
/* too many buttons, starting to sort */
a[data-action="Defer"]
{
    background-color: beige;
}

a[data-action="Defer"]#quick-spam
{
    color: white;
    background-color: violet;
}

a[data-action="Delete"]
{
    color: white;
    background-color: salmon;
}
/* don't abbr... sound title */
#selected-sounds-info > div > div.v-spacing-3.overflow-hidden > div.between.line-height-percentage-150.v-spacing-top-1 {
    flex-wrap: wrap !important;
}
.ellipsis {
    overflow: visible !important;       /* allow overflow */
    white-space: normal !important;    /* allow line breaks */
    text-overflow: clip !important;    /* remove ellipsis */
    word-break: break-word !important; /* break long words if needed */
    width: 100% !important;            /* ensure it can use full width of container */
}
}
